header {
    font-family: 'Audiowide', cursive;
}
main {
    background-color: rgb(238, 238, 238);
    height: 88.5vh;
}
#score {
    padding: 5rem 1.7rem 1.7rem 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#player {
    font-size: 3rem;
    text-align: center;
}
#scoreboard {
    border: solid 0.3rem black;
    width: 50vh;
    height: 18vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
#computer {
    font-size: 3rem;
    text-align: center;
}
#text {
    text-align: center;
    margin-bottom: 2rem;
}
#choices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10rem;
}
#rock {
    color:rgb(3, 83, 3);
}
#paper {
    color: royalblue;
}
#scissors {
    color: red;
}
.choice-item {
    height: 28vh;
    width: 28vh;
    border: solid black 0.3rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}
.choice-item:hover {
    box-shadow: -3px 3px 58px -10px rgb(126, 126, 126);
    transform: scale(1.1);
}
#scissors-icon {
    transform: rotate(90deg);
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
#github-link{
    color: black;
    font-size: 2rem;
    margin-left: 1rem;
}